html, body{
width:800px;
height:100%;	


}

img{
display: block;
margin-left: auto;
margin-right: auto;	
height: 100px;
}

.tab{
align: center;
}
header{
	height: 100px;
	width: 100%;
	background-color: white;
	
}

.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
  text-align: center;	
}
.tab {
  float: left;
}
.tab label {
 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
 /* position: relative; */
  left: 1px; 
}

.login{
text-align: right;

color: white;
	}
.content{
	
border: 1px solid black;	
height: 700px;
background-color: #D3D3D3

	
	
	
}	
