<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
  <title>Voluntier</title>
  <link rel="stylesheet" th:href="@{css/Index.css}">

  <script>
    function openForm() {
      document.getElementById("myForm1").style.display = "block";
    }

    function closeForm1() {
      document.getElementById("myForm1").style.display = "none";
    }

    function closeForm2() {
        document.getElementById("myForm2").style.display = "none";
    }
  </script>
</head>
<body>
<div class="content">
  <header>
    <img th:src="@{/images/images.png}" alt="Logo">
  </header>

  <div class="tab">
    <button><a href="/">About this App</a></button>
    <button><a href="#">Account</a></button>
    <button><a href="#">Password</a></button>

    <button><a href="help">Help</a></button>
    <button><a href="post">Create/Post</a></button>
  </div>
  <br>
  <br>
  <div id="company"></div>
  <br>
  <div id="applicant"></div>
    </div>
</body>
</html>
