<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
  <title>Voluntier</title>
  <link rel="stylesheet" th:href="@{css/Index.css}">

  <script>
    function openForm() {
      document.getElementById("myForm1").style.display = "block";
      document.getElementById("signUpButton").style.display = "none"
    }

    function closeForm() {
      document.getElementById("myForm1").style.display = "none";
      document.getElementById("signUpButton").style.display = "block"
    }
  </script>
</head>

<body>
<div class="content">
  <header>
    <img th:src="@{/images/images.png}" alt="Logo">
  </header>
  
    <div class="tab">
    <button><a href="/">About this App</a></button>
    <button><a href="#">Account</a></button>
    <button><a href="#">Password</a></button>

    <button><a href="help">Help</a></button>
    <button><a href="post">Create/Post</a></button>
  </div>


  <div class="information">
    <p th:text="${company}"></p>

    <div class="form-popup" id="myForm1">
      <form action="#" th:action="@{/saveApplicant}" th:object="${applicant}" method="GET" class="form-container">
        <label for="applicantName"><b>Volunteer Name</b></label>
        <input type="text" placeholder="Enter Your Name" name="applicantName" id="applicantName" th:field="*{applicantName}" required>

        <label for="applicantProf"><b>Volunteer Profession</b></label>
        <input type="text" placeholder="What Job Are You Looking For?" name="applicationProf" id="applicationProf" th:field="*{applicationProf}" required>
        
        <label for="applicantCred"><b>Volunteer Credits</b></label>
        <input type="text" placeholder="Enter Your College Degrees Or Other Credits" name="applicantCred" id="applicantCred" th:field="*{applicantCred}" required>
        
        <label for="applicantPhone"><b>Volunteer Phone Number</b></label>
        <input type="text" placeholder="Enter Your Phone Number" name="companyPhone" id="companyPhone" th:field="*{companyPhone}" required>
        
        <label for="applicantEmail"><b>Volunteer Email</b></label>
        <input type="text" placeholder="Enter Your Email Address" name="applicantEmail" id="applicantEmail" th:field="*{applicantEmail}" required>
        
        <label for="applicantDesc"><b>Volunteer Description</b></label>
        <input type="text" placeholder="Give Some Information About Yourself" name="applicantDesc" id="applicantDesc" th:field="*{applicantDesc}" required>

        <button type="submit" class="btn">Post</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
      </form>
    </div>
  </div>

</div>
</body>
</html>
