<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
  <title>Voluntier</title>
  <link rel="stylesheet" th:href="@{css/Index.css}">

  <script>
    function openForm() {
      document.getElementById("myForm1").style.display = "block";
      document.getElementById("signUpButton").style.display = "none"
    }

    function closeForm() {
      document.getElementById("myForm1").style.display = "none";
      document.getElementById("signUpButton").style.display = "block"
    }
  </script>
</head>

<body>
<div class="content">
  <header>
    <img th:src="@{/images/images.png}" alt="Logo">
  </header>
  
    <div class="tab">
    <button><a href="/">About this App</a></button>
    <button><a href="#">Account</a></button>
    <button><a href="#">Password</a></button>

    <button><a href="help">Help</a></button>
    <button><a href="post">Create/Post</a></button>
  </div>


  <div class="information">
    <p th:text="${company}"></p>

    <div class="form-popup" id="myForm1">
      <form action="#" th:action="@{/saveCompany}" th:object="${company}" method="GET" class="form-container">
        <label for="companyName"><b>Company Name</b></label>
        <input type="text" placeholder="Enter Name of Your Company" name="companyName" id="companyName" th:field="*{companyName}" required>

        <label for="companyLocation"><b>Company Location</b></label>
        <input type="text" placeholder="Enter Company Location" name="companyLocation" id="companyLocation" th:field="*{companyLocation}" required>
        
        <label for="companyDesc"><b>Company Description</b></label>
        <input type="text" placeholder="Enter Description Of The Company" name="companyDesc" id="companyDesc" th:field="*{companyDesc}" required>
        
        <label for="companyPhone"><b>Company Phone Number</b></label>
        <input type="text" placeholder="Enter Phone Number Of The Company" name="companyPhone" id="companyPhone" th:field="*{companyPhone}" required>
        
        <label for="companyEmail"><b>Company Email</b></label>
        <input type="text" placeholder="Enter Email Address Of The Company" name="companyEmail" id="companyEmail" th:field="*{companyEmail}" required>

        <button type="submit" class="btn">Post</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
      </form>
    </div>
  </div>

</div>
</body>
</html>



