<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="index.css">
  <script>
    function openForm() {
      document.getElementById("myForm1").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
</head>
<body>
<div class="content">
  <header>
    <img src="images.png" alt="Logo">

  </header>


  <div class="login">



    <!--/*@thymesVar id="volunteer" type=""*/-->
    <p th:text="${company}">



    <div class="form-popup" id="myForm1">
      <form action="#" th:action="@{/saveVolunteer}" th:object="${company}"method="GET" class="form-container">

        <label for="email"><b>Company Email</b></label>
        <input type="text" placeholder="Enter Email" name="cemail" th:field="*{companyEmail}" required>

        <label for="psw"><b>Company Password</b></label>
        <input type="password" placeholder="Enter Password" name="cpsw" th:field="*{companyPass}" required>

        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>





</div>
</body>
</html>



