<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
  <title>Voluntier</title>
  <link rel="stylesheet" href="@{css/Index.css}">

  <script>
    function openForm() {
      document.getElementById("myForm1").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
</head>
<body>
<div class="content">
  <header>
    <img src="../static/images/images.png" alt="Logo">

  </header>
  <div class="tab">
    <button><a href="/">About this App</a></button>
    <button><a href="#">Account</a></button>
    <button><a href="#">Password</a></button>

    <button><a href="help.html">Help</a></button>
    <button><a href="#">Apply</a></button>
    <button><a href="post.html">Create/Post</a></button>

  </div>

  <p th:text="${volunteer}">

</div>
</body>
</html>



