<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="Index.css">
  <script>
    function openForm() {
      document.getElementById("myForm1").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
</head>
<body>
<div class="content">
  <header>
    <img src="images.png" alt="Logo">

  </header>
  <div class="tab">
    <button><a href="Index.html">About this App</a></button>
    <button><a href="#">Account</a></button>
    <button><a href="#">Password</a></button>
    
    <button><a href="help.html">Help</a></button>
    <button><a href="#">Apply</a></button>
    <button><a href="post.html">Create/Post</a></button>

  </div>

  <div class="login">
    <button class="open-button" onclick="openForm()">Log In</button>


    <p th:text="${volunteer}">



    <div class="form-popup" id="myForm1">
      <form action="#" th:action="@{/saveVolunteer}" th:object="${volunteer}"method="GET" class="form-container">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" th:field="*{volunteerEmail}" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" th:field="*{volunteerPass}" required>

        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>

    <button class="open-button" onclick="openForm()">Sign Up</button>

    <div class="form-popup" id="myForm">
      <form action="/action_page.php" class="form-container">


        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" th:field="*{volunteerEmail}" required>
        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="user" th:field="*{volunteerUser}" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw1" th:field="*{volunteerPass}" required>
        <label for="psw"><b>Re-enter Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw2" th:field="*{volunteerPass}" required>

        <button type="submit" class="btn" value="0">Create Account</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  </div>

  <h1>About Voluntier </h1>
  <p>"Voluntier” is a web application that allows for prospective individuals looking to get volunteer hours an opportunity to create a simple resume to find volunteering jobs near them. It categorizes their specific traits and abilities towards a specific job and shows what local groups and organizations are looking for. This helps organizations and individuals have a one stop shop for organizing said events and search for one another.
    This idea is based around the need that most students actively are looking for volunteering opportunities to fulfil scholarship requirements and the ladder.</p>

</div>
</body>
</html>



