<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{css/Index.css}">
    <title>Volunteer</title>
</head>
<body>
    <div class="content">
  <header>
    <img th:src="@{/images/images.png}" alt="Logo">
  </header>

  <div class="tab">
    <button><a href="/">About this App</a></button>
    <button><a href="#">Account</a></button>
    <button><a href="#">Password</a></button>

    <button><a href="help">Help</a></button>
    <button><a href="post">Create/Post</a></button>
  </div>

Are you looking for a job, or looking for people to work at your company?
        <br>
        <br>
    </div>
  <div class="answer">
    <button><a href="applicant.html">Looking for a job</a></button>
    <button><a href="company.html">Looking for volunteers</a></button>
  </div>
</body>
</html>
